<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reposteria-Index</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/mediaquerys/MQ-global.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <header class="container-header">
        <nav class="container-nav">
            <a href="../../../index.html" class="enlace active">Home</a>
            <a href="#" class="enlace">About Us</a>
            <a href="../views/contact.html" class="enlace">Contact</a>
        </nav>
        <h1 class="titulo-principal">Cake Shop</h1>
    </header>
    <main class="container-main">
        <h2 class="subtitulo">Welcome to see the best pastry products</h2>
        <nav class="container-nav-main">
            <a href="" class="enlace active">Best Sellers</a>
            <a href="" class="enlace">Offers</a>
            <a href="" class="enlace">Custom</a>
            <a href="" class="enlace">Others Sections</a>
        </nav>
        <article class="about">
            <p>En <strong>CakeShop</strong>, convertimos cada momento en algo dulce e inolvidable. Somos apasionados de
                la repostería artesanal, donde cada pastel, cupcake y galleta se elabora con ingredientes frescos, de la
                mejor calidad y con mucho amor.

                Desde nuestras raíces humildes, comenzamos con la visión de endulzar la vida de las personas, creando
                postres que no solo deleitan el paladar, sino que también cuentan historias. Cada creación es una obra
                única, diseñada para celebrar tus momentos más especiales: cumpleaños, bodas, aniversarios, o
                simplemente esos días en los que necesitas un pequeño gusto dulce.

                Nos enorgullece combinar creatividad, sabor y estética, garantizando que cada bocado sea una
                experiencia. En <em>CakeShop</em>, no hacemos postres; creamos recuerdos dulces que perduran en
                el corazón.

                Ven y déjanos endulzar tu vida, un postre a la vez.</p>
        </article>
    </main>
    <div class="cont-fot">
        <iframe src="../views/footer.html" frameborder="0" scrolling="no"></iframe>
    </div>
</body>

</html>