<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reposteria-Index</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/mediaquerys/MQ-global.css">
</head>

<body>
    <header class="container-header">
        <nav class="container-nav">
            <a href="../../../index.html" class="enlace active">Home</a>
            <a href="../views/about.html" class="enlace">About Us</a>
            <a href="#" class="enlace">Contact</a>
        </nav>
        <h1 class="titulo-principal">Cake Shop</h1>
    </header>
    <main class="container-main-cont">
        <div class="cont-form">
            <div class="contenido-formulario">
                <form action="https://formspree.io/f/movqoaja" method="post">
                    <fieldset>
                        <label for="name">First name
                            <input type="text" id="name" name="name" placeholder="Ingrese su nombre" />
                        </label>
                        <label for="apellido">Last name
                            <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido" />
                        </label>
                    </fieldset>
                    <label for="email">Email
                        <input type="email" id="mail" name="email" placeholder="Ingrese su email">
                    </label>
                    <label for="">
                        Your message
                        <textarea name="message" id="message" cols="57" rows="5"
                            placeholder="Ingrese un message"></textarea>
                    </label>
                    <button type="submit" class="btn-contacto">Enviar</button>
                </form>
            </div>
        </div>
        </div>

    </main>
    <div class="cont-fot">
        <iframe src="../views/footer.html" frameborder="0" scrolling="no"></iframe>
    </div>
</body>

</html>