<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer class="container-footer">
        <p class="text">MindHub-Cohort M/V</p>
        <form action="">
            <fieldset>
                <legend>Subscribe:</legend>
                <label for="">Email:
                    <input type="text">
                </label>
                <input type="submit" value="Enviar" class="btn-footer">
            </fieldset>
        </form>
        <p>Contact us: <a href="mailto:mateodev88@gmail.com" class="correo">mateodev88@gmail.com</a></p>
    </footer>
</body>
</html>